{% extends 'base.html' %}
{% block content %}
<style>
.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin : 5 5 5 10;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
</style>
<!--style="background-color:#555555"-->
<h1> Counter Here</h1>
<div class="col-lg-4" style="padding:1px 2px 1px 5px;margin: 10">
    <div style="display:inline">
        <h5 style="display:inline">Input Sequence</h5>
        <div id="btn-controls" style="display:none;float:right" align="right">
        <button  class=" btn-info" onclick="clearall()">Clear All</button>
        <button  class=" btn-info" onclick="clearlast()">Clear Previous</button>
    </div>
        <br/>
        <div class="btn-group" id="btn-show">
        </div>
    </div>

    <div class="input-group mb-3">
        <input  type="text" name="next-state"  class="form-control" placeholder="Enter Next State" id="next" />
        <div class="input-group-append">
            <button  class=" btn-info" onclick="addstate()">Add Next State</button>
        </div>
    </div>
  <form class="form-inline custom_form" action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="seq" id="seq"/>
        <select class="form-control" name="fftype">
          <option value="-1">Type of Flip-Flop</option>
           <option  value = "JK" >J-K Flip Flop</option>
            <option  value = "T" >T Flip Flop</option>
            <option  value = "D">D Flip Flop</option>
         </select>
      <br/>
    <button class="btn-info my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

<script>
    document.getElementById("counter").className += "active";


    var closebtns = document.getElementsByClassName("close");
    var i;

    for (i = 0; i < closebtns.length; i++) {
      closebtns[i].addEventListener("click", function() {
        this.parentElement.style.display = 'none';
      });
    }
</script>
<script>
    var seq = {{ prev|safe }};
    var typ = {{ fftype|safe }};
    console.log(typ);
    updatebutton(seq)
    function updatebutton(seq){
        var node= document.getElementById("btn-show");
        while (node.firstChild) {
            node.removeChild(node.firstChild);
        }

        var i;
        for(i = 0;i < seq.length; i++)
        {
            console.log(seq[i]);
            var button = document.createElement("button");
            button.innerHTML = seq[i];

            // 2. Append somewhere
            var area = document.getElementById("btn-show");
            area.appendChild(button);

        }

        if(seq.length == 0){
        document.getElementById('btn-controls').style.display = "none";
        }else{
        document.getElementById('btn-controls').style.display = "inline";
        }
        document.getElementById('seq').value = seq
    }
    function addstate(){

    var input = document.getElementById('next');
    console.log('Button is working\n' + input.value);
    seq.push(parseInt(input.value));
    console.log(seq);
    updatebutton(seq);
    }

function clearall(){
    seq = [];
    updatebutton(seq);
}
function clearlast(){
    seq.pop();
    updatebutton(seq);
}
</script>
{% endblock %}