{% extends 'base.html' %}
{% block content %}
       <h1 id="demo" ></h1>
      <div class="main">   <!--form-->
        <div class="login-page">
            <form action="" class="form" method="post">
                {% csrf_token %}
              <div class="var">
                <h3>Enter variable names</h3>
                <input type="text" id="var" name="varlist" pattern="^([0-9a-zA-Z, ]+)$" value="{% for x in var %}{{x}} {% endfor %}"
                       oninvalid="this.setCustomValidity('Please Enter either space or comma separated Variables')" required>
              </div>
              <div class="minTerm">
                <h3>Enter min terms</h3>
                <input type="text" id="min" name="minterms" pattern="^([0-9, ]+)$" value="{% for x in min %}{{x}} {% endfor %}"
                       placeholder="Enter either space or comma separated minterms" required>
              </div>
              <div class="dnt-care">
                <h3>Enter dont care positions</h3>
                <input type="text" id="dcare" name="dont-care" value="{% for x in dont %}{{x}} {% endfor %}">
              </div>
              <button id="myBtn" class="sub-btn" >Submit</button>
            </form>
        </div>
        <div class="left">
             <!--result page-->
           <div class="result">
             <h1 id="exp-title">Boolean Expression</h1>
             <div id="bool-exp">{{exp}}</div>
           </div>
         <!--truth table-->
           <div class="truthtable">
             <h1>Truth Table</h1>
           </div>
        </div>
        
      </div>
        <script>
           var prob = {{ problem|safe  }};
           console.log(prob);
          var variables = prob['varlist'];
          var minterms = prob['minterms'];
          var dontcare = prob['dontcare'];

          var r = variables.length
          var c = r+1
          const tdiv = document.querySelector("div.truthtable")
          var v = document.createTextNode("new")
          var tbl = document.createElement('table')
          tbl.className = "tbl"
          //header row creation
          var header = document.createElement('tr')
          //inserting all variables
          for(let i=0;i<c-1;i++){
            //creating single td 
            let varibale = document.createElement('th')
            varibale.innerText = variables[i]
            header.appendChild(varibale)
          }
          let o = document.createElement('th')
          o.innerText = "Output"
          header.appendChild(o)
          //appending header to tbl
          tbl.appendChild(header)
          /////////////////////// adding rest
          var n = Math.pow(2,r) 
          //now making other rows 
          for(let i=0;i<n;i++){
            var x = i
            console.log(x)
            //new table row
            let newrow = document.createElement('tr')
            var arr = [];
            for(let j=0;j<r;j++){
              arr.push(x & 1)
              x = x>>1
            }
            for(let j=r-1;j>=0;j--){
              let ele = document.createElement('td')
              ele.innerText = arr[j]
              newrow.appendChild(ele)
            }
            //adding output to row
            var outRow = document.createElement('tr')
            //taking output from minterms or dont care or zero
            var out;
            if(minterms.includes(i)){
              out = 1
            }else if(dontcare.includes(i)){
              out = "x"
            }else{
              out = 0
            }
            outRow.innerText = out;
            newrow.appendChild(outRow)
            //adding row to table
            tbl.appendChild(newrow)
          }
          //tbl add to table div

          tdiv.append(tbl)
        </script>
       <script>
            document.getElementById("minterms").className += "active";
        </script>
        <script>
            document.getElementById("myBtn").addEventListener("click", function(e) {

            var clean_variable = stringsplit(document.getElementById("var").value);

            var minvar = document.getElementById("min");
            var clean_min = intstringsplit(minvar.value);
            for(var i = 0; i < clean_min.length;i++){
                if(clean_min[i] > Math.pow(2, clean_variable.length) - 1){
                    minvar.setCustomValidity("Minterms are out of bound of " + clean_min.length + " variables");
                    console.log(minvar.reportValidity());
                     e.preventDefault();
                     return;
                     break;
                }
            }

            var dontvar = document.getElementById("dcare");
            var clean_dont = intstringsplit(dontvar.value);
            dontvar.setCustomValidity("");
             dontvar.reportValidity();
            for(var i = 0; i < clean_min.length;i++){
                if(clean_dont[i] > Math.pow(2, clean_variable.length) - 1){
                    dontvar.setCustomValidity("DontCare are out of bound of " + clean_min.length + " variables");
                    dontvar.reportValidity();
                     e.preventDefault();
                     break;
                }
            }
            dontvar.value = clean_dont;
            minvar.value = clean_min;
            document.getElementById("var").value = clean_variable;
});
function stringsplit(data){
    var outlist = [];
    var word = "";
    for( i = 0;i < data.length;i++){
        if(data[i] == " " || data[i] == ","){
            if(word.length != 0){
            outlist.push(word);
            word = "";
            }
        }else{
        word+=data[i];
        }
    }
    if(word.length != 0){
    outlist.push(word);
    word = "";
    }
    console.log(outlist);
    return outlist;
};
function intstringsplit(data){
    var s = stringsplit(data);
    var out = [];
    var i;
    for(i = 0;i < s.length; i++)
    {
        out.push(parseInt(s[i]));
    }
    console.log(out);
    return out;
}
          </script>
{% endblock %}