{% load static %}

<head>
<!--        <link type="text/css" rel="stylesheet" href="indexstyle.css">-->
<!--        <link type="text/css" rel="stylesheet" href="{% static  'css/indexstyle.css' %}">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body style="background-color: rgb(252, 252, 252);">
       <!--navbar-->
      <div class="topnav">
        <div class="logo">Digital Circuit Designer</div>
        <a id="minterms"  href="/minterms/">Expression</a>
        <a id="flip-flop"  href="#news">Flip-Flops</a>
        <a id="counter"  href="/counter/">Counter</a>
        <a id="about"  href="#about">About</a>
      </div>
    {% block content %}
    {% endblock %}
</body>